# Database
DATABASE_URL=

# Google OAuth
GOOGLE_CLIENT_ID=
CLIENT_GOOGLE_SECRET=

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=

# Stripe
STRIPE_PREMIUM_PLAN_PRICE_ID=
STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_STRIPE_CUSTOMER_PORTAL_URL=
